### The purpose of this notebook is to add an index to the time series data to allow aggregation.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_0D = pd.read_csv('0D.csv')

In [3]:
train_0D.head()

   V_in  Measured_RPM  Vibration_1  Vibration_2  Vibration_3
0   0.0     28.610235          0.0          0.0          0.0
1   0.0     28.610235          0.0          0.0          0.0
2   0.0     28.610235          0.0          0.0          0.0
3   0.0     28.610235          0.0          0.0          0.0
4   0.0     28.610235          0.0          0.0          0.0

In [4]:
train_0D.tail()

          V_in  Measured_RPM  Vibration_1  Vibration_2  Vibration_3
26423290   2.0     643.38338     0.001339     0.000769     0.003015
26423291   2.0     643.38338     0.001261     0.000952     0.003138
26423292   2.0     643.38338     0.000966     0.000895     0.003057
26423293   2.0     643.38338     0.000976     0.000744     0.002798
26423294   2.0     643.38338     0.000740     0.000880     0.002686

### For time series analysis, we assume that the data was captured in sequence from the 1st to the last row of the dataset, hence we will add an index to allow for easier manipulation

In [5]:
row_index = range(1,len(train_0D)+1)
train_0D.insert(0,'row_index',row_index)
train_0D.head()

   row_index  V_in  Measured_RPM  Vibration_1  Vibration_2  Vibration_3
0          1   0.0     28.610235          0.0          0.0          0.0
1          2   0.0     28.610235          0.0          0.0          0.0
2          3   0.0     28.610235          0.0          0.0          0.0
3          4   0.0     28.610235          0.0          0.0          0.0
4          5   0.0     28.610235          0.0          0.0          0.0

In [6]:
train_0D.tail()

          row_index  V_in  Measured_RPM  Vibration_1  Vibration_2  Vibration_3
26423290   26423291   2.0     643.38338     0.001339     0.000769     0.003015
26423291   26423292   2.0     643.38338     0.001261     0.000952     0.003138
26423292   26423293   2.0     643.38338     0.000966     0.000895     0.003057
26423293   26423294   2.0     643.38338     0.000976     0.000744     0.002798
26423294   26423295   2.0     643.38338     0.000740     0.000880     0.002686

In [7]:
train_0D.to_csv('train_0D_index.csv', index=False)

In [2]:
# Doing the same for all other datasets, and saving them as a new csv.

#train_1D = pd.read_csv('1D.csv')
train_2D = pd.read_csv('2D.csv')
#train_3D = pd.read_csv('3D.csv')
#train_4D = pd.read_csv('4D.csv')

#eval_0E = pd.read_csv('0E.csv')
#eval_1E = pd.read_csv('1E.csv')
#eval_2E = pd.read_csv('2E.csv')
#eval_3E = pd.read_csv('3E.csv')
#eval_4E = pd.read_csv('4E.csv')

In [10]:
eval_1E = pd.read_csv('1E.csv')

In [3]:
row_index = range(1,len(train_2D)+1)
train_2D.insert(0,'row_index',row_index)
train_2D.head()

   row_index  V_in  Measured_RPM  Vibration_1  Vibration_2  Vibration_3
0          1   0.0     28.610235          0.0          0.0          0.0
1          2   0.0     28.610235          0.0          0.0          0.0
2          3   0.0     28.610235          0.0          0.0          0.0
3          4   0.0     28.610235          0.0          0.0          0.0
4          5   0.0     28.610235          0.0          0.0          0.0

In [9]:
train_2D.to_csv('C:/Users/jerem/Downloads/train_2D_index.csv', index=False)

In [4]:
row_index = range(1,len(train_3D)+1)
train_3D.insert(0,'row_index',row_index)
train_3D.head()

train_3D.to_csv('train_3D_index.csv', index=False)

In [5]:
row_index = range(1,len(eval_2E)+1)
eval_2E.insert(0,'row_index',row_index)
eval_2E.head()

eval_2E.to_csv('eval_2E_index.csv', index=False)

In [6]:
row_index = range(1,len(eval_3E)+1)
eval_3E.insert(0,'row_index',row_index)
eval_3E.head()

eval_3E.to_csv('eval_3E_index.csv', index=False)

In [7]:
train_4D = pd.read_csv('4D.csv')
eval_4E = pd.read_csv('4E.csv')

In [8]:
row_index = range(1,len(train_4D)+1)
train_4D.insert(0,'row_index',row_index)
train_4D.head()

train_4D.to_csv('train_4D_index.csv', index=False)

In [9]:
row_index = range(1,len(eval_4E)+1)
eval_4E.insert(0,'row_index',row_index)
eval_4E.head()

eval_4E.to_csv('eval_4E_index.csv', index=False)

In [11]:
row_index = range(1,len(eval_1E)+1)
eval_1E.insert(0,'row_index',row_index)
eval_1E.head()

eval_1E.to_csv('eval_1E_index.csv', index=False)